body, html {
  background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(80%, #0C0E27), to(#2D274E)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(top, #0C0E27 80%, #2D274E 100%) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(top, #0C0E27 80%, #2D274E 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #0C0E27 80%, #2D274E 100%) 0% 0% no-repeat padding-box;
  text-align: center;
  color: #8FA8D7; }
  body a, html a {
    text-decoration: none; }

.logo img {
  max-width: 200px; }

nav {
  background: #261F4B;
  color: #8FA8D7;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 20px rgba(34, 29, 59, 0.8);
  box-shadow: 0px 0px 20px rgba(34, 29, 59, 0.8);
  border-top: solid 13px rgba(12, 14, 39, 0.7); }
  nav .wrapper {
    max-width: 1280px;
    margin: 0px auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    nav .wrapper img.top {
      max-width: 240px;
      position: absolute;
      left: 0px; }
    nav .wrapper .navbar {
      margin: 0px;
      font-size: 0px; }
      nav .wrapper .navbar .nav_item {
        display: inline-block;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        max-width: 200px; }
        nav .wrapper .navbar .nav_item a {
          display: block;
          color: #8FA8D7;
          padding: 18px 20px;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          font-weight: 800;
          font-size: 18px;
          overflow: hidden;
          white-space: nowrap;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
      nav .wrapper .navbar .nav_item:hover {
        background: #3C3364; }
        nav .wrapper .navbar .nav_item:hover a {
          color: white; }
    nav .wrapper ul {
      -webkit-padding-start: 0px;
      padding-inline-start: 0px; }

section.title_area {
  text-align: left;
  margin-top: 80px; }
  section.title_area hr {
    border: none;
    height: 3px;
    margin: 0px;
    background: transparent -webkit-gradient(linear, left top, right top, from(rgba(34, 29, 59, 0)), color-stop(50%, #4a4272), to(rgba(34, 29, 59, 0))) 0% 0% no-repeat padding-box;
    background: transparent -webkit-linear-gradient(left, rgba(34, 29, 59, 0) 0%, #4a4272 50%, rgba(34, 29, 59, 0) 100%) 0% 0% no-repeat padding-box;
    background: transparent -o-linear-gradient(left, rgba(34, 29, 59, 0) 0%, #4a4272 50%, rgba(34, 29, 59, 0) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, rgba(34, 29, 59, 0) 0%, #4a4272 50%, rgba(34, 29, 59, 0) 100%) 0% 0% no-repeat padding-box; }
  section.title_area .wrapper {
    max-width: 1280px;
    margin: 0px auto;
    position: relative; }
    section.title_area .wrapper .game_name {
      color: #CB7E3C;
      font-size: 45px;
      font-weight: 900;
      padding-bottom: 5px; }
    section.title_area .wrapper .subtitle {
      color: #8FA8D7;
      font-size: 25px;
      padding-bottom: 10px; }
    section.title_area .wrapper .game_name, section.title_area .wrapper .subtitle {
      padding-left: 100px;
      z-index: 2;
      letter-spacing: 1px; }
    section.title_area .wrapper .game_name:before {
      content: attr(data-rank);
      position: absolute;
      font-size: 150px;
      top: -45px;
      left: 15px;
      opacity: .5;
      font-weight: 900;
      color: #352969;
      z-index: 1; }

main {
  position: relative;
  min-height: 1000px; }
  main .wrapper {
    max-width: 1280px;
    margin: 0px auto;
    position: relative; }
    main .wrapper .channels {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: justify;
      align-content: space-between;
      padding: 50px 0px; }
      main .wrapper .channels .channel {
        padding: 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: calc(100% / 3);
        text-align: left;
        position: relative; }
        main .wrapper .channels .channel .viwes {
          background: rgba(0, 0, 0, 0.6);
          border-radius: 5px;
          padding: 2px 5px;
          position: absolute;
          top: 30px;
          right: 30px;
          z-index: 888;
          opacity: .8;
          font-size: 16px; }
          main .wrapper .channels .channel .viwes * {
            display: inline-block; }
        main .wrapper .channels .channel img.video {
          width: 100%;
          -webkit-filter: brightness(0.5);
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        main .wrapper .channels .channel .channel_info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-line-pack: center;
          align-content: center;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          padding: 10px 10px 15px 10px;
          background: transparent -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), color-stop(60%, rgba(255, 255, 255, 0))) 0% 0% no-repeat padding-box;
          background: transparent -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 60%) 0% 0% no-repeat padding-box;
          background: transparent -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 60%) 0% 0% no-repeat padding-box;
          background: transparent linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 60%) 0% 0% no-repeat padding-box;
          position: relative;
          overflow: hidden;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          main .wrapper .channels .channel .channel_info .hoverLine {
            position: absolute;
            height: 4px;
            background: transparent -webkit-gradient(linear, left top, right top, from(rgba(34, 29, 59, 0)), color-stop(50%, #8fa8d7), to(rgba(34, 29, 59, 0))) 0% 0% no-repeat padding-box;
            background: transparent -webkit-linear-gradient(left, rgba(34, 29, 59, 0) 0%, #8fa8d7 50%, rgba(34, 29, 59, 0) 100%) 0% 0% no-repeat padding-box;
            background: transparent -o-linear-gradient(left, rgba(34, 29, 59, 0) 0%, #8fa8d7 50%, rgba(34, 29, 59, 0) 100%) 0% 0% no-repeat padding-box;
            background: transparent linear-gradient(90deg, rgba(34, 29, 59, 0) 0%, #8fa8d7 50%, rgba(34, 29, 59, 0) 100%) 0% 0% no-repeat padding-box;
            bottom: 0px;
            width: 0px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
          main .wrapper .channels .channel .channel_info img.picture {
            display: inline-block;
            width: 60px;
            height: 60px;
            -webkit-box-shadow: 0px 0px 10px rgba(12, 14, 39, 0.7);
            box-shadow: 0px 0px 10px rgba(12, 14, 39, 0.7);
            border-radius: 100%; }
          main .wrapper .channels .channel .channel_info .info_area {
            width: 100%;
            height: 60px;
            overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            padding: 0px 0px 0px 15px; }
            main .wrapper .channels .channel .channel_info .info_area h3 {
              font-size: 18px;
              line-height: 23px;
              overflow: hidden;
              white-space: nowrap;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              margin: 0px;
              letter-spacing: 1px; }
            main .wrapper .channels .channel .channel_info .info_area .name {
              display: block;
              font-weight: 900;
              font-size: 16px;
              margin: 5px 0px;
              color: #8fa8d7;
              opacity: .5;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
            main .wrapper .channels .channel .channel_info .info_area .name:hover {
              opacity: 1; }
      main .wrapper .channels .channel:hover img.video {
        -webkit-filter: brightness(1); }
      main .wrapper .channels .channel:hover .channel_info {
        background: transparent -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0))) 0% 0% no-repeat padding-box;
        background: transparent -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 60%) 0% 0% no-repeat padding-box;
        background: transparent -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 60%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 60%) 0% 0% no-repeat padding-box; }
        main .wrapper .channels .channel:hover .channel_info .hoverLine {
          width: 100%; }

#load_more {
  position: relative;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  top: -30px; }
  #load_more a {
    padding: 10px;
    border: solid 1px #8FA8D7;
    color: #8FA8D7;
    -webkit-box-shadow: 0px 0px 10px rgba(143, 168, 215, 0.8);
    box-shadow: 0px 0px 10px rgba(143, 168, 215, 0.8);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  #load_more a:hover {
    background: rgba(255, 255, 255, 0.1); }

@media (max-width: 1111px) {
  .logo {
    padding: 0px; }
    .logo img {
      width: 180px; }
  nav {
    border-top: solid 8px rgba(12, 14, 39, 0.7); }
    nav .wrapper {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      nav .wrapper img.top {
        display: none; }
      nav .wrapper .navbar {
        padding: 0px; }
        nav .wrapper .navbar .nav_item {
          max-width: 180px; }
          nav .wrapper .navbar .nav_item a {
            padding: 13px 20px; } }

@media (max-width: 850px) {
  main .wrapper .channels .channel {
    width: calc(100% / 2); } }

@media (max-width: 375px) {
  main .wrapper .channels .channel {
    width: calc(100% / 1); } }
