<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Top 5 Games
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    link(rel="stylesheet", href="./css/style.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.0/css/all.css",integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h",crossorigin="anonymous")
  body
    .logo
      img(src="./imgs/twitch_logo.svg", alt="")
    nav 
      .wrapper 
        img.top(src="./imgs/top5.svg", alt="")
        ul.navbar
          //- li.nav_item
          //-   a(href="#")
          //- li.nav_item
          //-   a(href="#")
          //- li.nav_item
          //-   a(href="#")
          //- li.nav_item
          //-   a(href="#")
    section.title_area
      .wrapper
        .game_name(data-rank="1")
        .subtitle Top 20 popular live streams sorted by current viewers
      hr
    main
      .wrapper
        .channels
          //- .channel#loadMore
          //-   a(href="#loadMore") Load More 
          //-     i.far.fa-arrow-alt-circle-right
          //- .channel
          //-   .btn_next Next
          //- .channel 
          //-   .viwes
          //-     i.far.fa-eye
          //-     .views_num 123
          //-   a(href="")
          //-     img.video(src="./imgs/bg.png", alt="")
          //-   .channel_info
          //-     img.picture(src="./imgs/bg.png", alt="")
          //-     .info_area
          //-       h3 streams sorted by current viewers
          //-       a(href="").name APPLE CHAO
          //-     .hoverLine 
      #load_more
        a(href="#load_more") Load More 
          i.far.fa-arrow-alt-circle-down
      

    script(src="./js/api.js")